<div class="body">
  <div class="container">
    <div class="heading">
      Base 64 to Video Convertor 
    </div>
    <div class="main">
      <div class="top">
        <textarea rows="15" cols="80" placeholder="Enter base 64 here"></textarea>
      </div>
      <div class="button">Convert to Video</div>
      <div class="result" style="visibility: hidden;">
        <video src="" controls></video> </div>
      <div class="button" style="visibility: hidden;">Download Video</div>
    </div>
  </div>
</div>